<%= form_with model: product, class: "needs-validation" do |form| %>
  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control", required: true %>
  </div>

  <div>
    <%= form.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>